$color-theme: #2b2d3c;;
$color-main: #2f3242;
$color-light: #3a3e52;
$blue-color: #2481ce;

$font-main-color: #fff;
$font-color-blue: #2196F3;
$font-color-gray: #9ea3b4;


$fs-default: 1.6rem;
$fs-small: 1.4rem; 
$fs-medium: 1.8rem; 
$fs-large: 2rem; 
$fs-x-large: 2.2rem; 
