@import 'variables';

.header_wrap {
	max-width: 1921px;
	width: 100%;
	height: 96px;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
	background-color: $color-main;
	padding: 0 30px;
}

.header_row {
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
}

.header_item {
	margin: 0 20px;
}

.header_menu {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header_btn {
	outline: none;
	border: none;
	cursor: pointer;
	background-color: inherit;
	color: #fff;
}

.header_btn-add {
	width: 133px;
	height: 48px;
	border-radius: 24px;
	border: 2px solid #2196f3;
	display: flex;
	align-items: center;
	padding: 0 20px;

	span {
		font-size: $fs-medium;
	}
}

.header_btn-add:before {
	content: '';
	display: block;
	background-image: url('../img/inbox/plus.png');
	width: 14px;
	height: 14px;
	color: #2196f3;
	position: absolute;
    right: 20px;
}

.header_btn-search {
	background-image: url(../img/global/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.header_btn-down { 
    margin: 0;
}

.header_btn.fa-bell.notific-dot:after{
    top: 10%;
    right: 50%;
    transform: translate(100%,-10%);
}

.header_thumb {
	margin-right: 5px;
	width: 56px;
	height: 56px;
	border-radius: 100%;
	background-image: url('../img/faces/admin.png');
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}